.error {
  color: red;
  font-weight: bold;
}

#mainProfile {
  width: 200px;
  height: 200px;
}

#selectedUser {
  display:flex;
}

.commentList {
  flex-direction: column;
}

.peopleGallery {
  display: flex;
  text-align: center;
}

.profileImageGallery {
  height: 120px;
  width: 120px;
  margin: 12px;
}

body {
  font-family: 'Lato', sans-serif;
}