.error {
  color: red;
  font-weight: bold;
}

#mainProfile {
  width: 200px;
  height: 200px;
}

#selectedUser {
  display:flex;
}

.commentList {
  flex-direction: column;
}

.peopleGallery {
  display: flex
}

body {
  font-family: 'Lato', sans-serif;
}